<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All recipes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link th:href="@{/css/main.css}" rel="stylesheet" />   
</head>
<body>
    <h1>Alla recept: </h1>
    <p><a href="/">Home</a></p>
    <p><a href="/recipe/randomfive">Slumpa igen</a></p>   
       
    <table>
    <tr th:each="Recipe: ${recipes}">
        <td th:text="${Recipe.recipeName}">Namn</td> 
        </tr>
    </table>
</body>
</html>